*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
.header{
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3 );
    background-color: #fff;
    padding: 0px 40px;
    height: 75px;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.header .logo{
    color: #dc4f72;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.header .logo span{
    position: relative;
    top: 0px;
}

.header .navbar a{
    color: gray;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
}
.header .navbar .navbar-brand{
    color:#dc4f72;
}
.header .navbar li:hover .dropdown-menu{
    display: block;
}
.header .navbar .navbar-brand::after{
  content: "";
  display: block;
  width: 1px;
  height: 0px;
  background-color: red;
  /* properties - duration - timing-function - delay */
  transition: all 0.5s linear 0s;
}
.header .navbar .navbar-brand:hover::after{
    width: 100%;
}
.header button{
    background-color: white;
    border-color: #dc4f72 ;
    color: #dc4f72;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: -3px;
}
.header button:hover{
    background-color:#dc4f72;
    transition: 0.3s;
}
.header .navbar a:hover{
    color:#dc4f72;
}

.header .header-item{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.mini-nav{
  padding: 15px 20px;
  background: #f7f9fc;
}
.mini-nav li a{
    text-decoration: none;
    color:#dc4f72;
}
.breadcrumb{
    margin-top: 90px;
    margin-bottom: 0;
}

.breadcrumb-item{
    font-size: 14px;
}


.item-contact{
    display: flex;
}

.about_us h1{
    text-align: center;
    padding-top: 50px;
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
    padding-bottom: 30px;

}
.about_us .row-left{
    display: flex;
}
.about_us .row-left .col{
    width: 50%;
}
.about_us .row-left .item h2{
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
}
.about_us .row-left .item p{
    color:#5a5a5a;
}
.about_us .row-left .item ul{
    margin-left: -30px;
    padding-top: 20px;
}
.about_us .row-left .item ul li{
    list-style: none;
}
.about_us .row-left .item li i{
    color: rgba(220, 79, 114, 0.9);
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}
.about_us .row-left .item img{
    width: 100%;
    border-radius: 5px;
    transform: translateY(0);
    transition: 0.3s ease-in;
}
.about_us .row-left .item img:hover{
    transform: translateY(-15px);
}
.about_us .row-right{
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
}
.about_us .row-right col{
    width: calc(100% / 3);
}
.about_us .row-right .item h2{
    padding-bottom: 10px;
}
.about_us .row-right .item p{
    color:#5a5a5a;
    font-size: 18px;
    line-height: 24.5px;
}
.features{
    background-color: #f7f9fc;
}
.features .title{
    padding-top: 50px;
    text-align: center;
}
.features .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.features .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.features .title span{
    color:#5a5a5a;
}
.features .main .row{
    display: flex;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 50px;
}
.features .main .col{
    width: calc(100% / 4);
}
.features .main .item{
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 0px;
}
.features .main .item i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: #dc4f72;
    font-size: 25px;
    color:#fff;
}
.features .main .item p{
    display: none;
}
.features .main .item a{
    display: none;
}
.solutions{
    text-align: center;
}
.solutions .title{
    padding-top: 50px;
    text-align: center;
}
.solutions .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.solutions .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.solutions .title span{
    color:#5a5a5a;
}
.solutions .main{
    text-align: center;
    padding-top: 30px;
    position: relative;
}
.solutions .main img{
    width: 700px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    transform: translateY(0);
    transition: 0.3s ease-in;
}
.solutions .main img:hover{
    transform: translateY(-15px);
}
.solutions .main a{
    color: #dc4f72;
    position: absolute;
    top: 220px;
    left: 555px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}
.solutions  button {
    background-color: #dc4f72;
    padding: 13px 30px;
    margin: 40px 0; 
}
.team .team-row{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.team .item img{
    width: 200px;
    filter: grayscale(100%) contrast(100%);
}
.team .item img:hover{
    filter: grayscale(0%) contrast(100%);
}
.plan{
    background-color:#f7f9fc;
}
.plan .title{
    text-align: center;
    padding: 50px 0;
}
.plan .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.plan .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.plan .title span{
    color:#5a5a5a;
}
.plan .main .row{
    display: flex;
    flex-wrap: wrap;
}
.plan .col{
    width: calc(100% / 4);
}
.plan .item {
    padding-bottom: 20px;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}
.plan .item:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);;
    transform: translateY(-15px);
    transition: 0.3s ease-in-out;
}
.plan .item .img-crile{
    width: 276px;
    height: 258px;
    display: inline-block;
    overflow: hidden;
}
.plan .item .img-crile img{
    width: 100%
}
.plan .item .icon{
    padding: 16px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
    margin-top: -5px;
}
.plan .item .icon h2{
    padding-top: 15px;
}
.plan .item .icon p{
    color:#5a5a5a;
}
.plan .item .icon .facebook i{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #3b5998;
    color:#fff;
    padding-left: 10px;
    font-size: 13px;
}
.plan .item .icon .twitter i{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #1da1f2;
    color:#fff;
    padding-left: 8px;
    font-size: 13px;
    text-decoration: none;
}


.blog{
    text-align: center;
    padding-bottom: 70px;
}
.blog h1{
    color: #070120;
    font-size: 46px;
    line-height: 1;
    font-weight: 400;
    margin-top: 50px;
}
.blog p{
    color:#5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    padding: 15px 0;
}
.blog .btn{
    padding: 14px 30px;
    margin-right: 15px;
}
.blog .btn .book{
    color: #dc4f72;
}
.blog .btn .get{
    color: #f7f7f7;
}
.blog .btn a{
    text-decoration: none;
}
.blog .btn-outline-danger a:hover{
    color:#fff;
}
.footer{
    background-color: #f7f9fc;
}
.footer .row ul{
    margin-left: -30px;
    margin-top:25px;
}
.footer .row li{
    list-style: none;
    padding: 5px 0;
}
.footer .row li a{
    text-decoration: none;
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}
.footer .row li a:hover{
    color:#dc4f72;
}
.footer .end-column {
    padding: 20px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}
.footer .end-column form{
    margin-right: 10px;
    display: flex;
    padding: 15px 0px;
}
.footer .end-column h4{
    font-size: 18px;
    line-height: 25px;
    color: #070120;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer .end-column button{
    padding: 10px 40px;
    font-size: 20px;
}
.footer .columns  p{
    line-height: 22px;
    color: #656f7b;
    font-size: 16px;
}
.footer .item{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
    padding-top: 30px;
    border-top: 1px solid #656f7b;
}
.footer .item .title a{
    text-decoration: none;
    color:#070120;
}
.footer .item .title a:hover{
    color:#dc4f72;
}
footer .item .icon a{
    padding-right: 30px;
    color:#070120;
}
footer .item .icon a:hover{
    color:#dc4f72;
}
.backtotop{
    position: fixed;
    right:0px;
    bottom: 70px;
}

 .backtotop i{
    width: 50px;
    height: 50px;
    background-color: #dc4f72;
    line-height: 50px;
    text-align: center;
    right: 15px;
    bottom: 15px;
    color: #fff;
}
@media screen and (max-width:992px){
    .about_us .row-left{
        display: block;
    }
    .about_us .row-left .col{
        width: 100%;
    }
    .about_us .row-left br{
        display: none;
    }
    .about_us .row-right{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .features .main .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .features .main .col {
        width: 100%;
        padding: 20px;
    }
    .plan .main .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .plan .col{
        width: 100%;
    }
    .plan .item .img-crile{
        width: 100%;
    }
}
