*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.header{
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3 );
    background-color: #fff;
    padding: 0px 40px;
    height: 90px;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.header .logo{
    color: #dc4f72;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.header .logo span{
    position: relative;
    top: 3px;
}

.header .navbar a{
    color: gray;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
}

.header .btn{
    background-color: white;
    border-color: #dc4f72 ;
    color: #dc4f72;
    font-size: 14px;
    font-weight: 700;
    padding: 0 30px;
    margin: 0;

}

.header .navbar a:hover{
    color: #dc4f72;
}

.header .header-item{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.mini-nav{
  padding: 15px 20px;
  background: #f7f9fc;
}

.breadcrumb{
    margin-top: 90px;
    margin-bottom: 0;
}

.breadcrumb-item{
    font-size: 14px;
}


.item-contact{
    display: flex;
}

.about_us h1{
    text-align: center;
    padding-top: 50px;
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
    padding-bottom: 30px;

}
.about_us .row-left{
    display: flex;
}
.about_us .row-left .col{
    width: 50%;
}
.about_us .row-left .item h2{
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
}
.about_us .row-left .item p{
    color:#5a5a5a;
}
.about_us .row-left .item ul{
    margin-left: -30px;
    padding-top: 20px;
}
.about_us .row-left .item ul li{
    list-style: none;
}
.about_us .row-left .item li i{
    color: rgba(220, 79, 114, 0.9);
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}
.about_us .row-left .item img{
    width: 100%;
    border-radius: 5px;
}
.about_us .row-right{
    display: flex;
    padding-top: 70px;
}
.about_us .row-right col{
    width: calc(100% / 3);
}
.about_us .row-right .item h2{
    padding-bottom: 10px;
}
.about_us .row-right .item p{
    color:#5a5a5a;
    font-size: 18px;
    line-height: 24.5px;
}
.features{
    background-color: #f7f9fc;
}
.features .title{
    padding-top: 50px;
    text-align: center;
}
.features .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.features .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.features .title span{
    color:#5a5a5a;
}
.features .main .row{
    display: flex;
    padding-top: 80px;
    text-align: center;
}
.features .main .col{
    width: calc(100% / 4);
}
.features .main .item{
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 0px;
}
.features .main .item i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: #dc4f72;
    font-size: 25px;
    color:#fff;
}
.features .main .item p{
    display: none;
}
.features .main .item a{
    display: none;
}
.solutions .title{
    padding-top: 50px;
    text-align: center;
}
.solutions .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.solutions .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.solutions .title span{
    color:#5a5a5a;
}
.solutions .main{
    text-align: center;
    padding-top: 30px;
}
.solutions .main img{
    width: 700px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}
.plan .title{
    text-align: center;
}
.plan .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.plan .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.plan .title span{
    color:#5a5a5a;
}
.plan .main .row{
    display: flex;
    flex-wrap: wrap;
}
.plan .col{
    width: calc(100% / 4);
}
.plan .item {
    padding-bottom: 20px;
}
.plan .item  img{
    width: 275px;
    height: 250px;
    border-radius: 5px;
}
.plan .item .icon{
    padding: 16px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
}
.plan .item .icon h2{
    padding-top: 15px;
}
.plan .item .icon p{
    color:#5a5a5a;
}
.plan .item .icon .facebook i{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #3b5998;
    color:#fff;
    padding-left: 10px;
    font-size: 13px;
}
.plan .item .icon .twitter i{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #1da1f2;
    color:#fff;
    padding-left: 8px;
    font-size: 13px;
    text-decoration: none;
}