*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header {
    display: grid;
    align-items: center;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    height: 90px;
  }
.navbar {
    padding: 0;
}
.navbar .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: #dc4f72;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar-nav{
      margin-left: auto;
      align-items: center;
      margin-right: 16px;
}
.navbar-nav .nav-item{
  padding: 0 15px;
  position: relative;
}
.dropdown-toggle::after{
    display: none;
}
.nav-item .dropdown-menu{
    transform: translateX(-50px);
    padding-top: 16px;
}
.nav-item .dropdown-menu::before{
      content: '';
      width: 14px;
      height: 14px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: block;
      border-right: none;
      border-bottom: none;
      transform: translateX(-50%) rotateZ(45deg);
      position: absolute;
      top: -7px;
      left: 49%;
      z-index: 1001;
}
.nav-item .dropdown-menu .dropdown-item{
      color: #2c3038;
      padding: 0 24px 14px;
  }
.nav-item .dropdown-menu .dropdown-item::after{
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    transition: all 0.5s;
    display: block;
}
.nav-item .dropdown-menu .dropdown-item:hover::after{
    width: 20px;
  }
.nav-item .dropdown-menu .dropdown-item:hover{
    color: #dc4f72;
    background-color: transparent;
}
.header .navbar li:hover .dropdown-menu{
    display: block;
}
.navbar-nav .nav-btn{
    margin-left: 16px;
    padding: 0 15px;
}
.navbar-nav .nav-item .nav-link{
    color: #2c3038;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
}
.navbar-nav .nav-item .nav-link::before{
      position: absolute;
      content: '';
      background: #dc4f72;
      width: 0px;
      height: 2px;
      bottom: 13px;
      transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #dc4f72;
}
.navbar-nav .nav-item .nav-link:hover::before{
    width: 20px;
}
.nav-link span.fa{
    font-size: 14px;
    padding-left: 2px;
}
.dropdown-toggle{
    color: #dc4f72 !important;
}
.theme-btn{
    transition: 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    border-color: #dc4f72;
    color: #dc4f72;
}
.theme-btn:hover{
    background-color: #dc4f72;
    border-color: #dc4f72;
}


.mini-nav{
  padding: 15px 20px;
  background: #f7f9fc;
}
.mini-nav li a{
    text-decoration: none;
    color:#dc4f72;
}
.breadcrumb{
    margin-top: 90px;
    margin-bottom: 0;
}

.breadcrumb-item{
    font-size: 14px;
}


.item-contact{
    display: flex;
}


.carauser h1{
    text-align: center;
    padding: 50px 0;
}
.carauser .main{
    display: flex;
    flex-wrap: wrap;
}
.carauser .row-left,
.carauser .row-right{
    width: 50%;
}
.carauser .row-left h2{
    padding-bottom: 20px;
}
.carauser .row-left h4{
    font-size: 24px;
    line-height: 30px;
    color: #999;
    padding-bottom:20px ;
}
.carauser .row-left button{
    margin-top: 30px;
    padding: 10px 40px;
    background-color: #dc4f72;
}
.carauser .row-right .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
}
.carauser .row-right .col{
    width: calc(100% /2);
    margin-right: 112px;
    margin-top: 20px;
}
.carauser .row-right .item .info{
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #F7F9FC;
    border-radius: 50% ;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    text-align: center;
    margin-bottom: 15px;
}
.carauser .row-right .item .icon h5{
    font-weight: 600;
}
.products .title{
    padding-top: 50px;
    text-align: center;
}
.products{
    background-color: #F7F9FC;
}
.products .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.products .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.products .title span{
    color:#5a5a5a;
}
.products .main .row{
    display: flex;
    justify-content: space-between;
}
.products .main .col{
    width: calc(100% / 3);
    padding-top: 30px;
}
.products .main .item img{
    width: 100%;
    border-radius: 50%;
    transform: translateY(0px);
    transition:0.3s ease-in;
}
.products .main .item img:hover{
    transform: translateY(-15px);
}
.products .main .item{
    display: flex;
    padding-bottom: 25px;
}
.products .main .item .info{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50% ;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    color: #dc4f72;
    margin-left: 26px;
    text-align: center;
}
.products .main .item .info span{
    font-size: 20px;
    font-weight: 700;
}
.products .main .item .icon{
    padding-left: 20px;
}
.products .main .item .icon h5{
    font-size: 20px;
    font-weight: 700;
}
.solutions .title{
    text-align: center;
    padding-bottom: 30px;
}
.solutions .title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.solutions .title h1{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.solutions .title span{
    color:#5a5a5a;
}
.solutions .main .row{
    display: flex;
}
.solutions .main .col{
    width: 50%;
}
.solutions .main .col .item{
    border: 1px solid #eee;
    padding: 40px 40px;
    border-radius: 6px;
}
.solutions .main .item .info h2{
    font-size: 44px;;
}
.solutions .main .item .info p{
    font-style: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    margin-bottom: 16px;
}
.solutions .main .item .info ul{
    list-style: none;
    padding-left: 0px;
}
.solutions .main .info ul i{
    color: #dc4f72;
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.solutions .main .info button{
    margin-bottom: 40px;
}
.solutions .main .item .icon img{
    width: 100%;
    border-radius: 5px;
    transform: translateY(0px);
    transition:0.3s ease-in;
}
.solutions .main .item .icon img:hover{
    transform: translateY(-15px);
}
.solutions .main .item .control h2{
    font-size: 45px;
    padding-top: 30px;
    font-weight: 500;
}
.solutions .main .item .control span{
    color: #5a5a5a;
    font-size: 17px;
}
.solutions .main .item .control p{
    color: #5a5a5a;
    font-size: 17px;
    margin-top: 16px;
}
.footer{
    background-color: #f7f9fc;
    margin-top: 60px;
}
.footer .row ul{
    margin-left: -30px;
    margin-top:25px;
}
.footer .row li{
    list-style: none;
    padding: 5px 0;
}
.footer .row li a{
    text-decoration: none;
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}
.footer .row li a:hover{
    color:#dc4f72;
}
.footer .end-column {
    padding: 20px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}
.footer .end-column form{
    margin-right: 10px;
    display: flex;
    padding: 15px 0px;
}
.footer .end-column h4{
    font-size: 18px;
    line-height: 25px;
    color: #070120;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer .end-column button{
    padding: 10px 40px;
    font-size: 20px;
}
.footer .columns  p{
    line-height: 22px;
    color: #656f7b;
    font-size: 16px;
}
.footer .item{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
    padding-top: 30px;
    border-top: 1px solid #656f7b;
}
.footer .item .title a{
    text-decoration: none;
    color:#070120;
}
.footer .item .title a:hover{
    color:#dc4f72;
}
footer .item .icon a{
    padding-right: 30px;
    color:#070120;
}
footer .item .icon a:hover{
    color:#dc4f72;
}
.backtotop{
    position: fixed;
    right:0px;
    bottom: 70px;
}

 .backtotop i{
    width: 50px;
    height: 50px;
    background-color: #dc4f72;
    line-height: 50px;
    text-align: center;
    right: 15px;
    bottom: 15px;
    color: #fff;
}
@media screen and (max-width:992px){
    .carauser .main{
        display: block;
    }
    .carauser .row-left,
    .carauser .row-right{ 
        width: 100%;
    }
    .carauser .row-left br{
        display: none;
    }
    .carauser .row-right .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .carauser .row-right .col{
        width: 100%;
    }
    .carauser .row-right .item .icon br{
        display: none;
    }
    .products .main .row{
        display: block;
    }
    .products .main .col-1,
    .products .main .col-3{
        width: 100%;
    }
    .products .main .col-2{
        margin-left: 30%;
    }
    .products .main .item .icon br{
        display: none;
    }
    .solutions .main .row{
        display: block;
    }
    .solutions .main .col{
        width: 100%;
    }
    .solutions .main .col br{
        display: none;
    }
}